body{
    padding: 50px;
    background-color: black;
    background: rgb(72,255,146);
    background: linear-gradient(90deg, rgba(72,255,146,1) 0%, rgba(85,223,216,1) 35%, rgba(218,48,46,1) 100%);
}

.card1{
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    width: max-content;
    height: max-content;
}
.card1:hover{
    background-color: rgb(32, 31, 31);
    color: white;
    transition: 2s;
}

.btnn1{
    border-color: rgb(223,132 ,223);
    background-color: rgb(223, 132, 223);
    padding: 2px;
    margin: 10px;
}
.img{
    text-align: center;
}
.heading{
    text-align: center;
}
.para{
    font-size: large;
}
.price{
    font-size: xx-large;
}
.btnn2{
    
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;

    
}
.btnn3{
    height: 50px;
    width: 200px;
    background-color: rgb(223, 132, 223);
    color: black;
    
}
.btn2{
    margin: 10px 60px;
}
.btnn2:active{
    background-color: rgb(72,255,146);
    color: white;
    transition: 1s;
}
.btnn3:active{
    background-color: rgb(72,255,146);
    color: white;
    transition: 1s;
}
.parent{
    display: flex;
    margin: 10px 40px;
}
#a1{
    margin-right: 5px ;
} 